* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.product:nth-child(even) .discount {
  background-color: red;
}

.product:hover .heart {
  display: block;
}

/* Main */
.container {
  margin: 10px;
  text-align: center;
}

.row {
  margin-bottom: 20px;
}

/* Product */
.product {
  display: inline-block;
  position: relative;
}

.discount {
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
}

.heart {
  display: none;
  position: absolute;
  bottom: 2%;
  width: 100%;
  text-align: center;
  font-size: 38px;
  color: red;
}
